@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.main__layout {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .main__layout {
    width: calc(100% - 240px);
    margin-left: auto;
  }
}

.MuiTableRow-head > th > span > button > div > div {
  font-weight: bold !important;
}
